body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.6;
    margin-left: 300px;
    background-color: hsl(60, 9%, 87%);
    color: #262625;
}

header, main, footer {
    max-width: 1000px;
    padding-inline: 2rem;
    margin-inline: auto;
}

article {
    margin-block: 2.4rem;
}

aside {
    background-color: hsl(14, 17%, 20%);
    color: hsl(237, 21%, 82%);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

small {
    font-size: 12px;
}

figure, blockquote {
    margin-inline: 0;
}

figure:has(img) figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: hsl(120, 6%, 97%);
    padding: 0.2rem;
    overflow: hidden;
}

blockquote p {
    padding: 1rem;
    background: hsl(120, 6%, 97%);
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    text-align: center;
}

thead th {
   padding: 8px 10px;
   border-top: 2px solid hsl(49, 8%, 40%);
}

td, th {
    background-color: hsl(120, 6%, 97%);
    padding: 5px 10px;
}

thead th:first-child {
   border-left: 2px solid hsl(49, 8%, 40%);
   border-top-left-radius: 5px;
}

thead th:last-child {
   border-right: 2px solid hsl(49, 8%, 40%);
   border-top-right-radius: 5px;
}

tbody th {
    border-inline: 2px solid hsl(49, 8%, 40%);
}

td:last-child {
   border-right: 2px solid hsl(49, 8%, 40%);
}

tbody tr:last-child td,
tr:last-child th {
    border-bottom: 2px solid hsl(49, 8%, 40%);
}

tbody tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
   border-bottom-right-radius: 5px;
}

a {
    color: #2b79a2;
}

#quote {
    flex-grow: 2;
}

#posters {
    display: flex;
    column-gap: 2rem;
    overflow-x: scroll;
}

.poster {
    position: relative;
}

.poster, .poster img {
    height: 400px;
}

#profile {
    position: relative;
}

#profile, #profile img {
    width: 240px;
}

.table-container {
    width: 100;
    overflow-x: scroll;
}

#copyright {
    background-color: hsl(14, 17%, 20%);
    color: hsl(237, 21%, 82%);
    padding: 0.4rem; 
    padding-inline: 1rem;
}

@media (max-width: 50rem) {
    body {
        margin-left: 0;
    }

    aside {
        display: none;
    }
}
